body{
    margin: 0;
    background-image: url("c.jpg");
    background-attachment: fixed;
    background-size: cover;
 
}




.logo{
    color: rgb(218, 153, 32);
    font-weight: 800;
    text-align: left;
}
nav{
    
        padding-left: 100%;
        color: aliceblue;
        background-color:rgba(43, 38, 38, 0.573);
        width:98.8%;
        height:60px;
        display:flex;
        display:inline-flex;
        padding:10px ;
        align-items:right;
        font-weight: 400 solid;
    
        
}


.form{
    align-items: center;
    background-color: aquamarine;
    background-position:50px;

}
.a:hover{
    color: chocolate;
}
#menu{
    border: 0cap;
    padding-bottom: 5px;
    border-radius: 80px;
    height: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.menu-icon {

    cursor:pointer;
    font-size:5px;
    margin: 0px;
    background: none;
    color: rgb(211, 173, 60);
}
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background: rgb(251, 244, 244);
    box-shadow: 0px 2px 10px rgb(233, 135, 135);
    margin-top: 10px; /* Adjust based on your design */
}
.menu.active {
    display: flex;
}
.menu-option {
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}
.menu-option:hover {
    background-color: #a23636;
}
img{
    background: none;
    width: 30px;
    height: 20px;
}
.log{
    padding-left: 93%;
    
}
.lo{
    color: rgb(16, 16, 16);
    background-color: rgb(209, 150, 23);
    width: 50px;
    height: 30px;
  
}
.lo:hover{
   background-color: #a23636;
}
.h{
    color: rgb(213, 139, 28);
    
    font-style: italic;
    font-family: serif;
}
.h1{
    color: aliceblue;
    font-style: italic;
    font-family: serif;

}
.h2{
    padding-top: 18%;
    padding-left: 45%;
}
/* animations.css */

.fade-in {
    opacity: 0;
    animation: ease-in.10s forwards; 
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  
  @keyframes example {
    from {top: 0px;}
    to {top: 200px; background-color: blue;}
  } */